.dashboardContainer {
    display: flex;
    height: 100vh;
}

.dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    transition: margin-left 0.3s ease-in-out;
}
  
.sidebar {
    width: 280px;
    background-color: #292F42;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    height: 100vh;
    padding: 10px;
}

.sidebar.open {
    width: 250px; /* Adjust for expanded width */
}

.sidebar.closed {
    width: 0px;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 40px;
}
  
.sidebarHeaderTitle1 {
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Condensed", serif;
    color: #D9AF65;
}

.sidebarHeaderTitle2 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto Condensed", serif;
    color: white;
}

.sidebarContent {
    width: 100%;
    overflow-y: auto;
}

.sectionTitle {
    color: #898FA2;
    font-weight: bold;
    font-family: "Roboto Condensed", serif;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
  
.sidebarButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: transparent;
    color: #898FA2;
    border: none;
    padding: 5px 8px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.sidebarButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.sidebarButton img {
    display: block;
}

.arrow {
    margin-left: auto; /* Pushes arrow to the right */
    transition: transform 0.3s ease-in-out;
}
  
.rotated {
    transform: rotate(90deg);
}
  
.subMenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.subMenu.open {
    max-height: 200px;
    opacity: 1;
}
  
.subButton {
    background: none;
    border: none;
    color: #898FA2;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}
  
.subButton:hover {
    color: #ddd;
}
   
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
}

.start {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}
  
.middle {
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.iconContainer {
    margin-left: 20px;
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}
  
.userImage {
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
}
  
.userName {
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto Condensed", serif;
}

.userRole {
    font-size: 12px;
    font-family: "Roboto Condensed", serif;
}

.content {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
    overflow: auto;
}

@media only screen and (max-width: 1300px), (max-height: 600px) {
    
    .sidebar {
        width: 220px;
    }

    .start {
        padding-left: 10px;
    }
    
    .end {
        padding-right: 10px;
    }

    .iconContainer {
        margin-left: 15px;
    }

    .userContainer {
        margin-left: 15px;
    }
      
    .userImage {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
      
    .userName {
        font-size: 14px;
    }
    
    .userRole {
        font-size: 10px;
    }
    
}

@media only screen and (max-width: 890px) {

    .badge {
        font-size: 10px;
        width: 14px;
        height: 14px;
    }

    .header {
        padding: 6px;
    }

    .userName {
        display: none;
    }
    
    .userRole {
        display: none;
    }
    
}

@media only screen and (max-width: 500px), (max-height: 400px) {

    .badge {
        font-size: 8px;
        width: 12px;
        height: 12px;
    }

}