@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.addUserContainer {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h3 {
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-size: 20px;
    margin-bottom: 5px;
}
  
.description {
    color: #666;
    font-family: "ubuntu", serif;
    font-size: 14px;
}

.selectButton {
    height: 36px;
    min-width: 100px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    gap: 8px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.selectButton:hover {
    background-color: #014ea0;
    transition: 0.3s ease-in;
}
  
.inputIcon {
    font-size: 1.4rem;
}

.selectButton div {
    
    font-family: "Roboto Condensed", serif;
}

.addUserContainer form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    font-family: "ubuntu", serif;
    justify-content: space-between;
    margin: auto;
}
  
.rowContainer {
    display: flex;
    width: 100%;
}
  
.halfWidthContainer {
    width: 50%;
    padding: 0px 20px;
    margin-bottom: 20px;
}
  
.fullWidthContainer {
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}
  
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
  
.errorText {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
  
  















.pageTitle {
    margin-bottom: 20px;
    font-size: 26px;
    font-family: "Roboto Condensed", serif;
    cursor: default;
}














.listViewBtnHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    font-family: "Ubuntu", serif;
  }
  
  .listViewBtnHolder .start {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
  }
  
  .listViewBtnHolder .end {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .listViewBtnHolder button {
    height: 36px;
    min-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    gap: 8px;
    border-radius: 5px;
  }
  
  .listViewBtnHolder .btnLogoContainer {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .btnType1 {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  
  .btnType1:hover {
    background-color: #aab0c5;
    transition: 0.3s ease-in;
  }
  
  .btnType2 {
    background-color: #ff1100;
    color: white;
  }
  
  .btnType2:hover {
    background-color: #d30f01;
    transition: 0.3s ease-in;
  }
  
  .btnType3 {
    background-color: #007BFF;
    color: white;
  }
  
  .btnType3:hover {
    background-color: #014ea0;
    transition: 0.3s ease-in;
  }
  
  .searchContainer {
    width: 250px;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 0px 10px;
  }
  
  .searchIcon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
  }
  
  
  .tableContainer {
    width: 100%;
    padding: 10px 0px;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 5px;
  }
  
  .table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    padding-bottom: 15px;
  }
  
  .table th input {
    cursor: pointer;
  }
  
  .table tr:hover {
    background-color: #f5f5f5;
  }
  
  .sortableHeader {
    cursor: pointer;
    display: table-cell;
    white-space: nowrap;
    outline: none;
    user-select: none;
  }
  
  .sortableHeaderContext {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  
  .sortableHeader span {
    height: 20px;
  }
  
  .sortIconWrapper {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
  }
  
  
  