.sidebarButtonContainer {
    width: 100%;
}

.sidebarButton {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: transparent;
    color: #898FA2;
    border: none;
    padding: 5px 8px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.sidebarButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.menuIcon {
    font-size: 1.2rem;
}

.arrowLogo {
    width: 20px;
    height: 20px;
    position: relative;
}

.arrow {
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
}

.arrow.rotated {
    transform: rotate(90deg);
}

.subMenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out, padding-bottom  0.4s ease-in-out, visibility 0.4s ease-out;
    opacity: 0;
    padding-left: 40px;
    padding-bottom: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subMenu.open {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 10px;
    visibility: visible;
}


.subButton {
    display: block;
    background: none;
    color: #898FA2;
    border: none;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.subButton:hover {
    color: #ddd;
}

@media only screen and (max-width: 1300px), (max-height: 600px) {
    
    .sidebarButton {
        gap: 10px;
        padding: 4px 6px;
        font-size: 12px;
    }

    .sideButtonLogo {
        width: 24px;
        height: 24px;
    }
    
    .arrowLogo {
        width: 18px;
        height: 18px;
    }
    
    .subMenu {
        padding-left: 36px;
    }

    .subMenu.open {
        padding-bottom: 8px;
    }
    
    .subButton {
        padding: 4px;
        font-size: 10px;
    }
    
}

@media only screen and (max-width: 890px) {

    .sideButtonLogo {
        width: 20px;
        height: 20px;
    }
    
    .arrowLogo {
        width: 16px;
        height: 16px;
    }
    
}
